.root {
    -fx-font-family: "Arial";
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-background-color: #f9f9f9;
}

.titleLabel {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #098c53;
}

.label {

    -fx-text-alignment: center;
}

.textfield {
    -fx-background-color: #ffffff;
    -fx-border-color: #098c53;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #098c53;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;

}

.button:hover {
    -fx-background-color: #0fb565;
}

.button:disabled {
    -fx-background-color: #cccccc;
    -fx-text-fill: #666666;
}
